#vernagir {
    background-color: #1E1616;
    color: white;
    padding: 15px 130px 25px;
    font-size: 80px;
    text-align: center;
}

#glxavor_div {
    width: 1200px;
    margin: auto;
}

#mechi_div{
    background-image: url(background1.jpg);
    height: 730px;
    background-size: cover;
    padding-top: 25px;
    border-bottom: 3px solid #AD3612;
    border-top: 3px solid #AD3612;
}

ul#mec_ul {
    display: flex;
    list-style-type: none;
}

a.li_a {
    color: white;
    text-decoration: none;
    background-color: #1E1616;
    padding: 25px 45px;
    border-right: 1px solid gray;
    display: inline-block;
}

div#ynhanur {
    padding: 10px 90px;
}

.li_a:hover {
    background-color: #DD462C;
}

.li_aa {
    color: white;
    text-decoration: none;
    background-color: #1E1616;
    padding: 22px 45px;
    display: inline-block;
    display: flex;
}

.nkar1 {
    background-image: url('facebook.png');
    width: 24px;
    height: 24px;
}

.nkar3 {
    background-image: url('rss.png');
    width: 24px;
    height: 24px;
}

div#li_div {
    margin-left: 120px;
    display: flex;
}

.li_div_div {
    margin-right: 3px;
}

.nkar2 {
    background-image: url('flickr.png');
    width: 24px;
    height: 24px;
}

.nkar4 {
    background-image: url('twitter.png');
    width: 24px;
    height: 24px;
}
div#diver_nkar1 {
    background-size: cover;
    background-image: url('01.jpg');
    height: 200px;
    border-radius: 7px 7px 0px 0px;
}

.yndhanur2 {
    background-color: #1E1616;
    padding-bottom: 20px;
    border-radius: 0px 0px 7px 7px;
    flex: 1;
}

.diver_vernagir {
    color: #DD462C;
    border-bottom: 2px solid #403434;
    padding: 15px 10px;
    font-size: 15px;
    text-align: center;
}

.diver_text {
    color: #403434;
    padding: 20px 10px;
}

div#michin_div {
    display: flex;
    padding-left: 34px;
}

div#menu_div {
    margin-left: -8px;
}

.diver_diver {
    flex-direction: column;
    display: flex;
    margin-right: 5px;
    width: 241px;
    height: 381px;
}

div#diver_nkar2 {
    background-size: cover;
    background-image: url('02.png');
    height: 200px;
    border-radius: 7px 7px 0px 0px;
}

div#diver_nkar3 {
    background-size: cover;
    background-image: url('03.jpg');
    height: 200px;
    border-radius: 7px 7px 0px 0px;
}

div#diver_nkar4 {
    background-size: cover;
    background-image: url('04.jpg');
    height: 200px;
    border-radius: 7px 7px 0px 0px;
}

div#verji_div {
    background-color: #1E1616;
    color: white;
    text-align: center;
    padding: 15px 0px;
}

.li_aa:hover {
    background-color: #DD462C;
}